@import 'open-props/postcss/style';
@import 'open-props/normalize.min.css';
@import 'open-props/media.min.css';

:root {
  --font-sans: Inter;
  --font-heading: Inter;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 10rem;
  background: var(--gray-1);
}
