@import 'open-props/postcss/style';
@import 'open-props/normalize.light.min.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&family=Inter:wght@400;500;600;900&display=swap');

:root {
  --font-sans: Inter;
  --font-heading: "Source Sans Pro";
}

body {
  color: var(--gray-7);
}

a {
  color: var(--violet-8);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--violet-5);
  text-underline-offset: 2px;
}

h1,
h2,
h3,
h4 {
  color: var(--violet-4);
  font-family: var(--font-heading);
  font-weight: normal;
}

h1 {
  color: var(--violet-8);
  font-size: var(--font-size-5);
  margin-bottom: var(--size-4);
  letter-spacing: var(--font-letterspacing-0);
}

h2 {
  font-size: var(--font-size-4);
  margin: var(--size-4) 0 var(--size-3) 0;
}

h3 {
  font-size: var(--font-size-2);
  margin: var(--size-2) 0;
}

[id]:is(h2) {
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
  translate: -22px 10px;

  & > a > .icon-link {
    display: flex;
    transition: 0.2s all var(--ease-2);
    background: var(--violet-3);
    mask: url(/icons/link.svg) no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0;
    width: 20px;
    height: 20px;
  }

  &:hover > a > .icon-link {
    opacity: 1;
  }
}

p {
  margin-bottom: var(--size-4);
}

ul {
  padding-inline-start: var(--size-6);
  list-style-type: square;

  & li::marker {
    color: var(--violet-8);
  }
}

:not(pre)>code {
  padding: 1px 3px;
  color: var(--gray-7);
}

pre {
  background-color: var(--gray-1) !important;
  padding: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

pre:has(code) {
  position: relative;
}

pre button.copy {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 28px;
  width: 28px;
  padding: 2px;
  display: flex;
  background: var(--gray-1);
  border-radius: var(--radius-1);

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .ready {
    background-image: url(/icons/copy.svg);
    opacity: 0.4;
    transition: 0.2s var(--ease-1);

    &:hover {
      opacity: 1;
    }
  }

  & .success {
    display: none;
    background-image: url(/icons/copy-success.svg);
  }

  &.copied {
    & .success {
      display: block;
    }

    & .ready {
      display: none;
    }
  }
}

pre .highlighted {
}

pre .highlighted-word {
  font-weight: bold;
}
