@import 'open-props/postcss/style';
@import 'open-props/normalize.light.min.css';
@import 'open-props/media.min.css';

:root {
  --font-sans: Inter;
  --font-heading: Inter;
  --font-mono: "JetBrains Mono", monospace;

  --shiki-color-text: var(--gray-8);
  --shiki-background: var(--gray-1);
  --shiki-foreground: var(--gray-7);
  --shiki-token-constant: var(--violet-5);
  --shiki-token-string: var(--indigo-4);
  --shiki-token-comment: var(--gray-6);
  --shiki-token-keyword: var(--violet-4);
  --shiki-token-parameter: var(--gray-4);
  --shiki-token-function: var(--violet-4);
  --shiki-token-string-expression: var(--violet-5);
}

body {
  color: var(--gray-7);
}

a {
  color: var(--violet-8);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--violet-5);
  text-underline-offset: 2px;
}

h1,
h2,
h3,
h4 {
  color: var(--violet-4);
  font-family: var(--font-heading);
  font-weight: normal;
}

h1 {
  color: var(--violet-8);
  font-size: var(--font-size-5);
  margin-bottom: var(--size-4);
  letter-spacing: var(--font-letterspacing-0);
}

h2 {
  font-size: var(--font-size-4);
  margin: var(--size-6) 0 var(--size-5) 0;
}

h3 {
  font-size: var(--font-size-2);
  font-weight: 600;
  margin: var(--size-7) 0 var(--size-2) 0;
  color: var(--gray-8);
}

strong, b {
  font-weight: 600;
}

.docs li {
  margin-bottom: 12px;
}

[id]:is(h2) {
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
  translate: -22px 10px;

  & > a > .icon-link {
    display: flex;
    transition: 0.2s all var(--ease-2);
    background: var(--violet-3);
    mask: url(/icons/link.svg) no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0;
    width: 20px;
    height: 20px;
  }

  &:hover > a > .icon-link {
    opacity: 1;
  }
}

p {
  margin-bottom: var(--size-4);
}

ul {
  padding-inline-start: var(--size-6);
  list-style-type: square;

  & li::marker {
    color: var(--violet-8);
  }
}

:not(pre) > code {
  padding: 1px 3px;
  color: var(--gray-7);
}

pre {
  padding: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;

  @media (--sm-n-above) {
    max-width: 85vw;
  }

  @media (--md-n-above) {
    max-width: 65vw;
  }

  @media (--lg-n-above) {
    max-width: 50vw;
  }
}

pre:has(code) {
  position: relative;
}

pre button.copy {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 28px;
  width: 28px;
  padding: 2px;
  display: flex;
  background: var(--gray-1);
  border-radius: var(--radius-1);
  border: solid 1px var(--gray-3);
  padding: 4px;
  transition: 0.2s var(--ease-1);

  &:hover {
    border-color: var(--gray-5);
    box-shadow: var(--shadow-2);
  }

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .ready {
    background-image: url(/icons/copy.svg);
    opacity: 0.4;
    transition: 0.2s var(--ease-1);

    &:hover {
      opacity: 1;
    }
  }

  & .success {
    display: none;
    background-image: url(/icons/copy-success.svg);
  }

  &.copied {
    & .success {
      display: block;
    }

    & .ready {
      display: none;
    }
  }
}

pre .line.highlighted {
  font-weight: bold;
}

pre .highlighted-word {
  font-weight: bold;
}

pre .line:has(.highlighted-word) {
}

table th {
  font-weight: normal;
  color: var(--gray-10);
}

::backdrop,
body:has(.\:popover-open)::before {
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  background: #0004;
  backdrop-filter: blur(2px);
  opacity: 0;
  animation: 0.3s fade-in forwards;
}

main img.logo {
  margin: 1rem 0;
  height: 40px;
}
