@import "open-props/postcss/style";
@import "open-props/normalize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');

:root {
  --font-sans: Inter;
  --font-heading: Inter;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--size-6);
  padding-bottom: 10rem;
}
