@import 'open-props/postcss/style';
@import 'open-props/normalize.dark.min.css';
@import 'open-props/media.min.css';

:root {
  --font-sans: Inter;
  --font-heading: Inter;
  --font-mono: "JetBrains Mono", monospace;
  --background-color: #0A0A0E;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 10rem;
  background-color: var(--background-color);
  background-image: url(/images/background.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
